<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <input class="new-todo" placeholder="What needs to be done?" autofocus (keydown)="add($event)" [(ngModel)]="newTitle">
  </header>
  <section class="main" *ngIf="totalCount()">
    <input class="toggle-all" type="checkbox" (click)="toggleAll()">
    <label for="toggle-all">Mark all as complete</label>
    
    <todo-list [todos]="todos"></todo-list>
    
  </section>
  <footer class="footer" *ngIf="totalCount()">
    <span class="todo-count"><strong>{{ activeCount() }}</strong> {{ pluralize('item', activeCount()) }} left</span>
    <!-- Remove this if you don't implement routing -->
    <ul class="filters">
      <li>
        <a class="selected" href="#/">All</a>
      </li>
      <li>
        <a href="#/active">Active</a>
      </li>
      <li>
        <a href="#/completed">Completed</a>
      </li>
    </ul>
    <button class="clear-completed" *ngIf="completedCount()" (click)="clearCompleted()">Clear completed</button>
  </footer>
</section>
<footer class="info">
  <p>Double-click to edit a todo</p>
  <p>Created by <a href="https://github.com/joshuaeilers">Joshua Eilers</a></p>
  <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>